body {		
    		font-family:'Roboto', sans-serif;
			padding:50px;
			margin:50px;
			
			 background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
			color:white;


				}
	title {
			text-align:center;
				}
	a {
		text-align:center;
		color:white;
		font-size:18px;
	   }
	h2 {	
			font-family: 'Roboto';
			text-align:left;
			font-size: 47px;
			padding-top: 50px;
		}
	h1 {	
			font-family: 'Roboto';
			text-align:left;
			font-size: 64px;
		}
	h3 {
			font-size: 40px;
			padding-top:50px;

		}
	p {
		line-height: 30px;
	}